/**
 * @author Thalis Goldschmidt, Fabian Schumacher
 */

 body {
    text-align: center;
    background-color: rgb(255, 255, 255);}

h1,h2,h3 {
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;}

p {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    
table, th, td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
}

div {
    align-items: center;
    background-color: rgb(176, 227, 250);
    width: 30%;
    border: 2px solid rgb(0, 0, 0);
    padding: 30px;
    margin: auto; margin-top: 15px;}